/datasets/*
/wandb
/run
/experiments
/old-experiments
/plots
/aitextgen
/apex
/temp
/.vscode
/.idea
*/__pycache__
/__pycache__
/.pytest_cache
/.ipynb_checkpoints
/*scratchpad*
*.ipynb
two_stage_finetuning_nums.py
*.ipynb
*.out
machine.file*
*hf-cache*